@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


#content{
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: navy;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    padding: 45px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

#background {
    height: 725px;
    color: aqua;
}

body{
    background-color: whitesmoke;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header{
    background-color: #59C3C3;
}

nav a:hover{
    background-color: rgb(185, 246, 226);
    color: black;
}

.book, .join{
    background-color: #93d1d1;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
    font-size: 22px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    color: black;

}

.book:hover, .join:hover{
    background-color: rgb(185, 246, 226);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 150px 0;
}

.msg{
    background-color: #7cb9b9;
    font-family: 'Poppins', sans-serif;
    font-size: 80%;
    line-height: 1.5em;
    padding: 35px;
}

.msg p{
    padding-bottom: 15px;
}

footer{
    background-color: whitesmoke;
    padding: 25px 50px;
    margin-top: 150px;
}

footer .social img{
    padding-top: 15px;
}

footer a:hover{
    color: #288a8a;
}

footer a {
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 900;
}

.logo{
    width: 140px;
    padding: 5px;
    margin: 0 auto;
    display: block;
}

.icon{
    width: 80px;
    padding-top: 10px;
}

#hero-img{
    width: 100%;
}

footer h3 a:hover{
    text-decoration: underline;
}

.home-title, h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 1.3em;
    margin-top: 10px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: 85%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 85%;
}

.card-img{
    border: 10px solid #7cb9b9;
}

main section img {
    box-sizing: border-box;
}